<% content_for :header do %>
  <h1>Reminders for theatrical movie releases.</h1>
  <h2>Because forgetting about your favorite releases sucks.</h2>
<% end %>

<%= form_for @reminder do |f| %>
  <%= hidden_field_tag :tmdb_id, nil, { style: 'width:100%;', class: 'movie_select' } %>
  <%= f.submit 'Send me a reminder', class: 'btn' %>
<% end %>
