<div class="container">
  <div class="wrap">

    <h1>Filmnudger reminds you when your favorite movies are released in theaters.</h1>
    <h2>Choose a movie below</h2>

    <%= form_for @reminder do |f| %>
      <%= hidden_field_tag :tmdb_id, nil, { style: 'width:100%;', class: 'movie_select' } %>
      <br />
      <%= f.submit 'next' %>
    <% end %>

  </div>
</div>
