<p>Hello!</p>

<p>I promised to send you an email once <%= @movie.title %> came out in theaters in <%= @user.country %>.</p>

<p>Great news! Today's that day.</p>

<p><strong>You can now go see <%= @movie.title %> in theaters!</strong></p>

<p>Let us know how it's been on Twitter! You can find me at <a href="http://twitter.com/hannesfostie">@hannesfostie</a>.</p>

<p>Cheers!</p>
